<!DOCTYPE html>
<html>
<head>
	<title>Byte 4</title>

	<!-- Semantic Framework -->
	<link rel="stylesheet" rel="text/styleshet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
</head>
<body>
	<div class="ui menu inverted">
		<div class="ui container">
			<h4 class="header item"><a href="/">Home</a></h4>
			<h4 class="header item"><a href="#">About</a></h4>
			<h4 class="header item"><a href="quality">Quality</a></h4>	
		</div>
	</div>
	<div class="ui container">
		<h2>About the dataset</h2>
		<h3>Overview</h3>
		<p>The data set informs us of the spate of gun violence incidents in the country. This analysis is inspired by a series of Slate.com articles targeting the same.</p>

		<h3>Data Source</h3>
		<p>The data is obtained from the slate.com website. I created a readable fusion table for the same <a href="https://www.google.com/fusiontables/DataSource?docid=1R4VPwxsNq_XvNRj-v2eAP10FmLt8-QUNgUVgWWYt">here.</a></p>

		<h3>For Byte 4</h3>
		<p>I wanted to try and use data as a compelling way to create a narrative describing the urgency and need for further gun control policies in the United States. My main D3-visualization is inspired form this <a href="https://www.crowdanalytix.com/communityBlog/10-steps-to-create-calendar-view-heatmap-in-d3-js">tutorial</a>. I imagined that a blood-red calendar throughout the year would make for a compelling narrative. It did turn out 'red-der' than a expected. Hope the calendar transitions to a few whites now on.</p>

		<h3>Inferences</h3>
		<p>It would be unfair to say things haven't improved since Newtown (since I got only the 2013 dataset). But 2013 certainly wasn't a huge improvement since the unfortunate incident. It'll be interesting to visualize the subsequent years till 2016.</p>

		<h3>References</h3>
		<ul class="ui list">
			<li><a href="http://www.slate.com/blogs/the_slatest/2015/10/07/gun_control_laws_by_state_oregon_new_york_texas_california.html">Gun Control Laws in your State</a> - Used this website to understand data and it's correlation to the gun control laws.</li>
			<li>Another set of <a href="http://mic.com/articles/74055/these-maps-debunk-everything-the-nra-has-told-us-about-guns#.u3p8wXaxM">maps</a>, with respect to gun control laws</li>
			<li>The <a href="http://www.slate.com/articles/news_and_politics/crime/2012/12/gun_death_tally_every_american_gun_death_since_newtown_sandy_hook_shooting.html">dataset</a> I got inspired from</li>
		</ul>
	</div>
	<script type="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
</body>
</html>