<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
	<title>Byte 4</title>

	<!-- Semantic Framework -->
	<link rel="stylesheet" rel="text/styleshet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
</head>
<body>
	<div class="ui menu inverted">
		<div class="ui container">
			<h4 class="header item"><a href="/">Home</a></h4>
			<h4 class="header item"><a href="about">About</a></h4>
			<h4 class="header item"><a href="#">Quality</a></h4>	
		</div>
	</div>
	<div class="ui container">
		<h2>About the data quality</h2>
	</div>
	<script type="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
	<script type="text/javascript" href="js/gundeathcalendar.js"></script>
</body>
</html>